RewriteEngine On

# Redirige www vers non-www
RewriteCond %{HTTP_HOST} ^www\.ejeri\.fr [NC]
RewriteRule ^(.*)$ https://ejeri.fr/$1 [L,R=301]

# Force HTTPS (optionnel si tu veux tout en HTTPS)
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://ejeri.fr/$1 [L,R=301]
